<%- include("template/header", {tituloWeb: 'mascotas'}) %>

    <div style="margin-top: 50px;" class="container">
            <h1>CRUD Mongo Mascotas</h1>
            <a 
                class="btn btn-success btn-block my-4"
                href="/mascotas/crear"
            > Crear nueva Mascota
            </a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">_id</th>
                <th scope="col">Animal</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <% if (arrayMascotas.length > 0) { %>
                <% arrayMascotas.forEach(mascota => { %>
                    <tr>
                        <th scope="row"><%= mascota._id %></th>
                        <th scope="row"><%= mascota.animal %></th>
                        <td scope="row"><%= mascota.nombre %></td>
                        <td scope="row"><%= mascota.descripcion %></td>
                        <td scope="row">
                            <a 
                                href="mascotas/<%= mascota._id %>"
                                class="btn btn-warning brn-sm">
                            Editar
                            </a>
                        </td>
                    </tr>
                <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

<%- include("template/footer") %>