<%- include("template/header", {tituloWeb: 'index'}) %>

    <div style="margin-top: 50px;" class="container">
            <h1>CRUD Mongo</h1>
            <a 
                class="btn btn-success btn-block my-4"
                href="/mascotas/crear"
            > Crear nueva Mascota
            </a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Animal</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayMascotas.length > 0) { %>
                    <% arrayMascotas.forEach(mascota => { %>

                        <tr>
                            <th scope="row"><%= mascota.animal %></th>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td><button>Editar</button></td>
                        </tr>

                    <% }) %>
                <% } %>
            </tbody>
          </table>
    </div>
    
<%- include("template/footer") %>